<div class="container content">
  <!-- Primer Formulario -->
  <mat-card class="card">
    <span class="me-3 fs-5">Escoge el tipo de operación</span>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Maximización/Minimización</mat-label>
      <mat-select [(ngModel)]="this.simplexType">
        <mat-option
          *ngFor="let typeSelected of ['Minimización', 'Maximización']"
          [value]="typeSelected"
        >
          {{ typeSelected }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <span class="me-3 fs-5">Digite el número de variables</span>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Variables</mat-label>
      <input
        type="number"
        min="0"
        max="100"
        value="0"
        [(ngModel)]="this.variablesCount"
        matInput
      />
    </mat-form-field>
    <br />

    <span class="me-3 fs-5">Digite la cantidad de restricciones</span>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Restricciones</mat-label>
      <input
        type="number"
        min="0"
        max="100"
        value="0"
        [(ngModel)]="this.restrictionsCount"
        matInput
      />
    </mat-form-field>
    <br />
    <button mat-raised-button (click)="generateFields()">
      Generar Campos!
    </button>
  </mat-card>
</div>
<!--Campos Generados-->
<div *ngIf="showGeneratedFields">
  <!-- Campos generados ecuacion a minimizar -->
  <div class="content overflow-auto">
    <div class="overflow-auto">
      <table>
        <tr>
          <td>
            <p class="fs-6 me-2">{{ this.operationEquation.type }}</p>
          </td>
          <td *ngFor="let xs of variablesCountList; let j = index">
            <mat-form-field appearance="fill">
              <mat-label>{{ xs }}</mat-label>
              <input
                type="number"
                min="0"
                max="100"
                value="0"
                [(ngModel)]="operationEquation[xs]"
                matInput
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Campos generados restricciones -->
  <div class="fs-3 content">
    <span>Sujeto a:</span>
  </div>
  <div class="content overflow-auto" *ngIf="showGeneratedFields">
    <div class="overflow-auto">
      <table>
        <tr *ngFor="let equation of equations; let i = index">
          <td *ngFor="let xs of variablesCountList; let j = index">
            <mat-form-field appearance="fill">
              <mat-label>{{ xs }}</mat-label>
              <input
                type="number"
                value="0"
                [(ngModel)]="equation[xs]"
                matInput
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Operacion</mat-label>
              <mat-select [(ngModel)]="equation.op">
                <mat-option
                  *ngFor="let opSelected of ['=', '≤', '≥']"
                  [value]="opSelected"
                >
                  {{ opSelected }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>result {{ i + 1 }}</mat-label>
              <input
                type="number"
                value="0"
                [(ngModel)]="equation.result"
                matInput
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <button mat-raised-button (click)="this.startSimplex()">Comenzar!</button>
    </div>
  </div>
</div>

<!-- Vista fase 1 -->
<div  *ngIf="showFirstFase">
  <p class="fs-3 my-2 mt-4 text-center">Fase 1</p>
  <div class="content overflow-auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="border-0">CxCj</th>
          <th *ngFor="let item of initialCxCj">
            {{ item }}
          </th>
          <th class="border-0">Xb/Bi</th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th *ngFor="let item of XSs">
            {{ item }}
          </th>
          <th *ngFor="let item of SSs">
            {{ item }}
          </th>
          <th *ngFor="let item of RSs">
            {{ item }}
          </th>
          <th *ngFor="let item of HSs">
            {{ item }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowMatrix of historyMatrix; let j = index"
          [ngClass]="{ 'table-secondary': positionToPrint.includes(j) }"
        >
          <td *ngFor="let fieldMatrix of rowMatrix; let i = index">
            {{
              i == 0 && positionToPrint.includes(j)
                ? "ZjCj"
                : positionToPrint.includes(j) && i == rowMatrix.length - 1
                ? "Z = " + fieldMatrix
                : fieldMatrix
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>