<div class="content py-4">  
  <mat-tab-group class="tab-width" mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">bar_chart</mat-icon>
        Método Grafico
      </ng-template>
      <app-graphics></app-graphics>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">scatter_plot</mat-icon>
        Método Simplex a dos fases
      </ng-template>
      <app-simplex-two-fases></app-simplex-two-fases>
    </mat-tab>
  </mat-tab-group>
</div>
