.content {
  display: flex;
  justify-content: center;
}

.tab-width {
  max-width: 80%;
  width: 60%
}

.tab-center {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
}

